<div class="home-page">
    <header class="menu-header">
        <h1>Nuestro Menú</h1>
    </header>
    <div class="menu-container">
        <div class="card" *ngFor="let categoria of categoriasfiltradas">
            <div class="card-overlay">
                <h2>{{ categoria.nombre }}</h2>
                <img
                  [src]="categoria.imagenSrc || '/assets/logo.png'"
                  alt="{{ categoria.nombre }}"
                  class="categoria-img">
                <button class="btn-ver" (click)="verProductos(categoria.id)">Ver más</button>
            </div>
        </div>
    </div>
</div>

